
#container{
    width: 200px;
    margin: 30px  auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid gray;
    border-radius: 10px ;
}
#display{
   /* width: 85%; */
   margin: 10px auto;
   border: 2px solid gray;
   border-radius: 5px ;
   padding: 5px;

}

.btn{
    width: 40px;
    height: 40px;
    border-radius: 5px;
}
.btn:hover {
    background-color: #ddd;
}
#btn-container{
    padding-top: 10px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px ;
    flex-wrap: wrap;
}
#content{
    width: 85%;
    margin: 0px auto;
}